<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reservation Edit</title>
<link href="https://fonts.googleapis.com/css?family=Hind:400,700"
	rel="stylesheet">
<link th:href="@{/assets/_bootstrap.min.css}"
	href="../../../static/assets/_bootstrap.min.css" rel="stylesheet">
<link th:href="@{/assets/reservation.css}"
	href="../../../static/assets/reservation.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarColor02" aria-controls="navbarColor02"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link active" href="#">Home
						<span class="visually-hidden">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
				<li class="nav-item"><a class="nav-link" href="#">About</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
					role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a> <a
							class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div></li>
			</ul>
			<form class="d-flex">
				<label> <input class="form-control me-sm-2" type="text"
					placeholder="Search">
				</label>
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>

<body>
	<div class="container">
		<div class="row">
			<div class="booking-form">
				<form>
					<div class="row">
						<div class="form-header">
							<h1>예약 수정</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<span class="form-label">이름</span>
								<p class="info-form" th:text="${customer.name}">홍길동</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<span class="form-label">전화번호</span>
								<p class="info-form" th:text="${customer.phoneNumber}">010-0000-0000</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<span class="form-label">이메일</span>
								<p class="info-form" th:text="${customer.email}">email@email.com</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<span class="form-label">날짜</span> <input class="form-control"
									type="date" requireds>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<span class="form-label">시간</span> <select class="form-control"
									required>
									<option value="" disabled selected hidden>시작 - 종료</option>
									<option>10:00 - 12:00</option>
									<option>12:00 - 14:00</option>
									<option>14:00 - 16:00</option>
								</select> <span class="select-arrow"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div>
									<span class="form-label">테이블 번호</span>
								</div>
								<div>
									<select class="selectpicker w-100" multiple multiple
										title="--">
										<option value="" disabled selected hidden>--</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select> <span class="select-arrow"></span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<span class="form-label">인원수</span> <select class="form-control"
									required>
									<option value="" disabled selected hidden>--</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select> <span class="select-arrow"></span>
							</div>
						</div>
					</div>
					<div class="form-btn">
						<div class="row">
							<div class="col-6 text-center">
								<button class="submit-btn2" id="button" type="submit"
									disabled="disabled">수정하기</button>
							</div>
							<div class="col-6 text-center">
								<button class="submit-btn2" id="button" type="submit"
									disabled="disabled">예약 취소</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/2.0.0-beta1/js/bootstrap-select.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.multi-select').selectpicker();
		});
	</script>
</body>
</html>