<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reservation Edit</title>
<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
<link th:href="@{/assets/_bootstrap4.6v_.min.css}" href="../../../static/assets/_bootstrap4.6v_.min.css" rel="stylesheet">
<link th:href="@{/assets/reservation.css}" href="../../../static/assets/reservation.css" rel="stylesheet">
<link th:href="@{/assets/_bootstrap-select.min.css}" href="../../../static/assets/_bootstrap-select.min.css" rel="stylesheet">
<script th:src="@{/assets/jquery.min.js}" src="../../../static/assets/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/assets/_bootstrap.bundle.min.js}" src="../../../static/assets/_bootstrap.bundle.min.js" type="text/javascript"></script>
<script th:src="@{/assets/_bootstrap-select-2.min.js}" src="../../../static/assets/_bootstrap-select-2.min.js" type="text/javascript"></script>
<script th:src="@{/assets/_bootstrap-select.min.js}" src="../../../static/assets/_bootstrap-select.min.js" type="text/javascript"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarColor02" aria-controls="navbarColor02"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link active" href="#">Home
						<span class="visually-hidden">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
				<li class="nav-item"><a class="nav-link" href="#">About</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
					role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a> <a
							class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div></li>
			</ul>
			<form class="d-flex">
				<label> <input class="form-control me-sm-2" type="text"
					placeholder="Search">
				</label>
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>

<body>
	<div class="container">
		<div class="row">
			<div class="booking-form">
				<form action="" th:action method="post">
					<div class="row">
						<div class="form-header">
							<h1>예약 수정</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<span class="form-label">이름</span>
								<p class="info-form" th:text="${customer.name}">홍길동</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<span class="form-label">전화번호</span>
								<p class="info-form" th:text="${customer.phoneNumber}">010-0000-0000</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<span class="form-label">이메일</span>
								<p class="info-form" th:text="${customer.email}">email@email.com</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<span class="form-label">날짜</span>
								<p class="info-form" th:text="${reservation.date}">연도-월-일</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<span class="form-label">시간</span>
								<p class="info-form" th:text="${reservation.time}+' - '+${reservation.getEndTime()}">시작 - 종료</p>
								<span class="select-arrow"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div>
									<span class="form-label">테이블 번호</span>
								</div>
								<div>
									<select id="table" class="selectpicker w-100" multiple required
											title="--" name="tablesOid">
										<option value="none" disabled selected hidden>--</option>
										<option type="text" th:each="table : ${tables}" th:value="${table.oid}" th:text="${table.number}" th:selected="${reservation.tables.contains(table)}"></option>
									</select> <span class="select-arrow"></span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<span class="form-label">인원수</span>
								<input class="form-control" type="number" name="covers" th:value="${reservation.covers}" placeholder="--" min="1" max="30" required>
								<span class="select-arrow"></span>
							</div>
						</div>
					</div>
					<div class="form-btn">
						<div class="row">
							<div class="col-6 text-center">
								<button class="submit-btn2" id="btn" type="submit"
										>수정하기</button>
							</div>
							<div class="col-6 text-center">
								<button class="submit-btn2" id="btn2" type="button"
										onclick="location.href='reservationDeleteForm.html'"
										th:onclick="|location.href='@{/reservation/{customerOid}/delete/{reservationOid}/(customerOid=${customer.oid}, reservationOid=${reservation.oid})}'|"
										>예약 취소</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('.multi-select').selectpicker();
		});
        $(function () {
            $('#table').change(function () {
                if ($('#table').val().length !== 0) {
                    $('#btn').attr('disabled', false);
                } else {
                    $('#btn').attr('disabled', true);
                }
            });
        });
	</script>
</body>
</html>