<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <title>admin Main</title>
      <link th:href="@{/assets/line-awesome/css/_line-awesome.min.css}" href="../../../static/assets/line-awesome/css/_line-awesome.min.css" rel="stylesheet" type="text/css"/>
      <link th:href="@{/assets/adminMain.css}" href="../../../static/assets/adminMain.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
   
   <input type="checkbox" name="" id="sidebar-toggle">
   
    <div class="sidebar">
      <div class="sidebar-brand"></div>

      <div class="sidebar-main"> 
        <div class="sidebar-user">
            <img th:src="@{/assets/your-picture.png}" src="../../../static/assets/your-picture.png" alt="">
          <div>
            <h3 th:text="${admin.name}">관리자</h3>
            <span>Food & Forest Restaurant</span>
          </div>
        </div>

        <div class="sidebar-menu">
          <div class="menu-head">
              <span>Dashboard</span>
            </div>
            <ul>
              <li>
                <a href="admin.html" th:href="|@{/admin/{adminOid}/main(adminOid=${adminOid})}|">
                  <span class="las la-chart-pie"></span>
                  메인
                </a>
              </li>
              <li>
                <a href="adminHistory.html" th:href="|@{/admin/{adminOid}/history(adminOid=${adminOid})}|">
                  <span class="las la-history"></span>
                  예약 기록
                </a>
              </li>
            </ul>

          <div class="menu-head">
            <span>Applications</span>
          </div>
          <ul>
            <li>
                <a href="adminCustomer.html" th:href="|@{/admin/{adminOid}/customer(adminOid=${adminOid})}|">
                 <span class="las la-users"></span>
                 고객 관리
                 </a>
            </li>
            <li>
                <a href="adminReservation.html" th:href="|@{/admin/{adminOid}/reservation(adminOid=${adminOid})}|">
                 <span class="las la-calendar"></span>
                 사전 예약 관리
                 </a>
            </li>
            <li>
              <a href="adminWalkIn.html" th:href="|@{/admin/{adminOid}/walkin(adminOid=${adminOid})}|">
                  <span class="las la-walking"></span>
                  현장 예약 관리
              </a>
            </li>
            <li>
                <a href="adminTables.html" th:href="|@{/admin/{adminOid}/tables(adminOid=${adminOid})}|">
                 <span class="las la-chair"></span>
                 테이블 관리
                 </a>
             </li>
           </ul>
           <div class="menu-head">
             <span>소프트웨어공학 1조</span>
           </div>
            <li><a><span class="las la-laugh"></span>최준규</a></li>
            <li><a><span class="las la-laugh"></span>이재익</a></li>
            <li><a><span class="las la-laugh"></span>신희원</a></li>
            <li><a><span class="las la-laugh"></span>배혜림</a></li>
        </div>
      </div>
    </div>

    <div class="main-content">
      <header>
        <div class="menu-toggle">
          <label for="sidebar-toggle">
            <span class="las la-bars"></span>
          </label>
        </div>
      </header>

      <main>
        <div class="page-header">
          <div>
            <h1>관리자 통계</h1>
            <small>레스토랑 고객, 테이블, 예약 통계 확인</small>
          </div>
        </div> 

        <div class="cards">
          <div class="card-single">
            <div class="card-flex">
              <div class="card-into">
                <div class="card-head">
                  <span>예약</span>
                  <small>이번달 총 예약 수</small>
                </div>

                <h2 th:text="${thisMonthReservations}">200</h2>
                  <small th:text="'전달의 예약 수: '+${lastMonthReservations}">전달의 예약 수: 10</small><br>
                  <small th:if="${thisMonthReservations >= lastMonthReservations}"
                         th:text="'전달에 비해 '+${thisMonthReservations/lastMonthReservations*100}+'% 증가했습니다. '">n% 증가</small>
                  <small th:if="${thisMonthReservations == lastMonthReservations}"
                         th:text="'전달에 비해 '+${lastMonthReservations/thisMonthReservations*100}+'% 감소했습니다. '">n% 감소</small>
              </div>
              <div class="card-chart danger">
                <span class="las la-chart-line"></span>
              </div>
            </div>
          </div>

          <div class="card-single">
            <div class="card-flex">
              <div class="card-into">
                <div class="card-head">
                  <span>테이블</span>
                  <small>레스토랑 테이블 수</small>
                </div>

                <h2 th:text="${tables.size()}">30</h2>

                <small>현재 레스토랑에 운영되는 총 테이블 개수입니다.</small>
              </div>
              <div class="card-chart success">
                <span class="las la-chart-line"></span>
              </div>
            </div>
          </div>

          <div class="card-single">
            <div class="card-flex">
              <div class="card-into">
                <div class="card-head">
                  <span>고객</span>
                  <small>방문한 총 고객 수</small>
                </div>

                <h2 th:text="${totalCustomers}">1000</h2>

                <small>사전 예약과 현장 예약 고객 모두 포함한 값입니다.</small>
              </div>
              <div class="card-chart yellow">
                <span class="las la-chart-line"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="jobs-grid">
          <div class="analytics-card">
            <div class="analytics-head">
              <h3>입장 대기중인 사람 수</h3>
            </div>

            <form th:action method="post" class="analytics-chart">
              <div class="chart-circle">
                <h1 th:text="${waitingList.size()} + '명'">N명</h1>
              </div>

              <div class="analytics-note">
                  <h3>현장 예약 추가</h3>
                <label>인원 수 입력 : </label>
                <input type="number" id="number" name="number" style = "margin-left:5px; margin-bottom:5px" />

              </div>
                <div class="analytics-btn">
                    <button type="submit">추가하기</button>
                </div>
            </form>
          </div>

          <div class="jobs">
            <h2>최근 예약
                <small>
                    <a href="adminReservation.html" th:href="|@{/admin/{adminOid}/reservation(adminOid=${adminOid})}|">전체 예약 확인하기</a>
                    <span class="las la-arrow-right"></span>
                </small>
            </h2>
            
            <div class="table-responsive">
            <table width="100%">
              <tbody>
              <tr th:each="reservation : ${reservations}">
                  <td><div><span class = "indicator"></span></div></td>
                  <td><div th:text="'이름: '+${reservation.customer.name}">이름 :</div></td>
                  <td><div th:text="'인원 수: '+${reservation.covers}">인원 수 :</div></td>
                  <td><div th:text="'날짜: '+${reservation.date}">날짜 :</div></td>
                  <td><div th:text="'시간: '+${reservation.time}">시간 :</div></td>
                  <td><div><button type="button"
                                   onclick="location.href='deleteReservationForm.html'"
                                   th:onclick="|location.href='@{/admin/{adminOid}/reservation/{reservationOid}/delete/(adminOid=${adminOid}, reservationOid=${reservation.oid})}'|"
                  >관리</button></div></td>
                </tr>
              </tbody>
            </table>                
          </div>
        </div>
       </div>
      </main>
    </div> 
    
    <label for="sidebar-toggle" class="body-label"></label>
  </body>
</html>