<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
<link th:href="@{/assets/_bootstrap.min.css}"
	href="../../static/assets/_bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<!--  네비게이션 바 -->


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand pr-4"
				onclick="../../templates/basic/reservation/main.html'">Food &
				Forest</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarColor02"
				aria-controls="navbarColor02" aria-expanded="true"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link"
						onclick="location.href='../../templates/basic/reservation/main.html'">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">현장예약</a></li>
					<li class="nav-item"><a class="nav-link" href="#">회원관리</a></li>
					<li class="nav-item"><a class="nav-link" href="#">예약관리</a></li>
					<li class="nav-item"><a class="nav-link" href="#">통계</a></li>
				</ul>

				<form class="d-flex">
					<ul class="navbar-nav navbar-right">
						<img src="../../static/assets/your-picture.png" height="40">
						<li class="nav-item"><a class="nav-link"
							style="color: #FFFFFF;" href="#">관리자</a></li>
						<li class="nav-item"><a style="color: #FFFFFF;"
							class="nav-link"
							onclick="location.href='../../templates/basic/user/loginForm.html'">Logout</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</nav>

	<!--  네비게이션 바 -->

</body>
</html>