@charset "UTF-8";
.bg-position-center {
    background-position: center !important;
    background-image: url("main-image.jpg");
}
.bg-size-cover {
    background-size: cover !important;
}
.bg-accent {
    background-color: #4e54c8 !important;
}