<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Profile Edit</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/assets/_bootstrap5.0v_.min.css}" href="../../../static/assets/_bootstrap5.0v_.min.css" rel="stylesheet">
<link th:href="@{/assets/userEdit.css}" href="../../../static/assets/userEdit.css" rel="stylesheet">
<script th:src="@{/assets/jquery.min.js}" src="../../../static/assets/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/assets/_bootstrap5.0v_.min.js}" src="../../../static/assets/_bootstrap5.0v_.min.js" type="text/javascript"></script>
<link th:href="@{/assets/reservation.css}" href="../../../static/assets/reservation.css" rel="stylesheet">
</head>

<nav th:replace="fragments/customerNav.html" :: navigator></nav>

<body>
	<div class="container">
		<div class="row">
			<div class="booking-form">
				<form action="" th:action method="post">
					<div class="row">
						<div class="form-header">
							<h1>회원정보 수정</h1>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">이름</span>
							<div class="col-sm-10">
								<input class="form-control" id="name" name="name" type="text"
									   placeholder="" th:value="${customer.name}" value="" readonly>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">아이디</span>
							<div class="col-sm-10">
								<input class="form-control" id="id" name="id" type="text"
									   th:value="${user.id}" value="idExample" readonly>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">비밀번호</span>
							<div class="col-sm-10">
								<input class="form-control" id="pw1" name="pw" type="password">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">비밀번호 확인</span>
							<div class="col-sm-10">
								<input class="form-control" id="pw2" type="password">
								<span id="pwChk" style="font-size: x-small; "></span>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-sm-10">
								<span class="form-label">이메일</span>
								<input class="form-control" id="email" name="email" type="text"
									   th:value="${customer.email}" value="addYour@email">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-sm-10">
								<span class="form-label">전화번호</span>
								<input class="form-control" id="phoneNumber" name="phoneNumber" type="text"
									   th:value="${customer.phoneNumber}" value="010-0000-0000">
							</div>
						</div>
					</div>
					<div class="form-btn">
						<div class="row">
							<div class="col-6 text-center">
								<button class="submit-btn2" id="button" type="submit" disabled="disabled">수정하기</button>
							</div>
							<div class="col-6 text-center">
								<button class="submit-btn1" id="button2" type="button"
										onclick="location.href='userDelete.html'"
										th:onclick="|location.href='@{/user/info/{customerOid}/delete(customerOid=${customer.oid})}'|"
								>회원탈퇴</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer.html" :: footer></footer>
	<script>
		$(function () {
			$('#pw1').keyup(function () {
				$('#pwChk').html('');
			});

			$('#pw2').keyup(function () {
				if ($('#pw1').val() !== $('#pw2').val()) {
					$('#pwChk').html('비밀번호 일치하지 않음<br><br>');
					$('#button').attr('disabled', true);
				} else {
					$('#pwChk').html('비밀번호 일치함<br><br>');
					$('#button').attr('disabled', false);
				}
			});
		});
	</script>

</body>
</html>