<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Profile Edit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/assets/_bootstrap4.6v_.min.css}" href="../../../static/assets/_bootstrap4.6v_.min.css" rel="stylesheet">
	<link th:href="@{/assets/userEdit.css}" href="../../../static/assets/userEdit.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarColor02" aria-controls="navbarColor02"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link active" href="#">Home
					<span class="visually-hidden">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
				<li class="nav-item"><a class="nav-link" href="#">About</a></li>
				<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
						role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a> <a
							class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div></li>
			</ul>
			<form class="d-flex">
				<label>
					<input class="form-control me-sm-2" type="text" placeholder="Search">
				</label>
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>

<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="edit-title">
						<h4>회원정보 수정</h4>
					</div>
					<form action="" th:action method="post">
						<div class="row pv-lg">
							<div class="col-lg-3"></div>
							<div class="col-lg-7">
								<form class="form-horizontal ng-pristine ng-valid">
									<div class="form-group">
										<label class="col-sm-2 control-label" for="name">이름</label>
										<div class="col-sm-10">
											<input class="form-control" id="name" name="name" type="text"
												   placeholder="" th:value="${customer.name}" value="" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="id">아이디</label>
										<div class="col-sm-10">
											<input class="form-control" id="id" name="id" type="text"
												   th:value="${user.id}" value="idExample" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="pw1">비밀번호</label>
										<div class="col-sm-10">
											<input class="form-control" id="pw1" name="pw" type="password"
												   th:value="${user.pw}" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="pw2">비밀번호 확인</label>
										<div class="col-sm-10">
											<input class="form-control" id="pw2" type="password"
												   th:value="${user.pw}" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="email">이메일</label>
										<div class="col-sm-10">
											<input class="form-control" id="email" name="email" type="text"
												   th:value="${customer.email}" value="addYour@email" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="phoneNumber">전화번호</label>
										<div class="col-sm-10">
											<input class="form-control" id="phoneNumber" name="phoneNumber" type="text"
												   th:value="${customer.phoneNumber}" value="010-0000-0000" readonly>
										</div>
									</div>

									<div class="form-group">
										<div class="offset-1 row">
											<div class="col-4">
												<button class="btn btn-danger" id="button2" type="submit">탈퇴확인</button>
											</div>
											<div class="offset-2 col-4">
												<button class="btn btn-info" id="button" type="button"
														onclick="location.href='userEdit.html'"
														th:onclick="|location.href='@{/user/info/{customerOid}/edit(customerOid=${customer.oid})}'|"
														>돌아가기</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>